<div class="container">
  <div class="text-center mt-5">
    <h1>Ingresa tus datos y solicita tu cr&eacute;dito ahora</h1>
  </div>
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="contact-form" role="form" [formGroup]="formLoadRequest" (ngSubmit)="submmitToUserLoan()">
              <div class="controls">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Nombre</mat-label>
                        <input
                          matInput
                          id="form_name"
                          type="text"
                          name="name"
                          placeholder="Ingrese su  nombre *"
                          required="required"
                          data-error="Firstname is required."
                          maxlength="30"
                          formControlName="userName"
                          autocomplete="off"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Apellido</mat-label>
                        <input
                          matInput
                          id="form_surname"
                          type="text"
                          name="surname"
                          placeholder="Ingrese su  Apellido *"
                          required="required"
                          data-error="lastname is required."
                          maxlength="30"
                          formControlName="userSurename"
                          autocomplete="off"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>C&eacute;dula</mat-label>
                        <input
                          matInput
                          id="form_idnumber"
                          type="number"
                          name="id"
                          placeholder="N cedula *"
                          required="required"
                          formControlName="userIdNumber"
                          data-error="Document is required."
                          autocomplete="off"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>E-mail</mat-label>
                        <input
                          matInput
                          id="form_email"
                          type="email"
                          name="email"
                          placeholder="Please enter your email *"
                          required="required"
                          formControlName="userEmail"
                          data-error="Valid email is required."
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row sectionPrestamos">
                  <app-prestamos-valor
                    (setValueLoan)="userValueRangeLoan = $event"
                  ></app-prestamos-valor>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <section>
                      <div class="example-button-row">
                        <button
                          mat-raised-button
                          type="submit"
                          color="primary"
                          (click)="submmitToUserLoan()"
                          class="btn btn-success btn-send pt-2 btn-block btnBlue"
                          [disabled]="formLoadRequest.invalid"
                        >
                          Solicitar Ahora
                        </button>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">
  <app-list-data-loan-users></app-list-data-loan-users>
</div>
