.btnBlue{
    border: 1px solid #009dda;
    background-color: #18baf1;
}
.btnBlue:hover{
    border: 1px solid #009dda;
    background-color: #007eaf;
}

body {
    font-family: 'Lato', sans-serif
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .sectionPrestamos{
        justify-content: center;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .card-body {
        padding: 0;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}