.mat-slider-horizontal {
    margin-top: 14px;
    min-width: 550px;
    justify-content: center;
}

.priceValueContainer p:nth-child(3n){
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: rgb(255, 64, 89);
    font-weight: 700;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .mat-slider-horizontal {
        min-width: 400px;       
    }   
    
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mat-slider-horizontal {
        min-width: 200px;
    }  
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
     
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
    .mat-slider-horizontal {
        margin-top: 14px;
        min-width: 430px;
        justify-content: center;
    }  
}